.css-hyum1k-MuiToolbar-root {
  background: #003603;
}
.css-1f2xuhi-MuiDrawer-docked .MuiDrawer-paper {
  background: rgba(58, 248, 83, 0.09);
}

.css-cveggr-MuiListItemIcon-root i{
    color: #003603;   
}

.css-tlelie-MuiListItemText-root span {
    color: #003603;
}

// .css-9mgopn-MuiDivider-root {
//     border: 1px solid #1e0036 !important;
//     box-shadow: 1px 0px 0px 2px #a43af8;
// }